<%= render 'page_head' %>

<div class="grid-row">
  <main id="content" role="main">
    <div <% if @presenter.started? %> class="smart-answer-questions group"<% end %>>
      <%= render 'content' %>
    </div>

    <%= render 'smartanswer_metadata' %>
  </main>
  <% unless @presenter.started? %>
    <%= render 'related_items' %>
  <% end %>
</div>
